#MANIFEST.in
graft Docs
graft gb_exercises
prune OLD
###recursive-include Docs *
recursive-exclude * *.properties
recursive-exclude log *
recursive-exclude * *.*log
###recursive-exclude OLD *
